:host >>> .p-menubar{
  border-radius: 0%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

:host >>> p-menubarsub{
  width: 100%;
}

@media screen and (max-width: 960px){
  :host >>> .p-component{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
