<div class="footer-basic">
  <footer>
    <div class="social">
      <p-button icon="pi pi-youtube" styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
      <p-button icon="pi pi-twitter" styleClass="p-button-rounded p-button-info p-button-outlined"></p-button>
      <p-button icon="pi pi-instagram" styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>
      <p-button icon="pi pi-facebook" styleClass="p-button-rounded p-button-outlined"></p-button>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Company Name © 2018</p>
  </footer>
</div>
